// text color
$satblue:hsl(238, 29%, 16%);
$softred:hsl(14, 88%, 65%);
$Verydarkgrayishblue: hsl(237, 12%, 33%);
$Darkgrayishblue: hsl(240, 6%, 50%);

// body color

$Softviolet: hsl(273, 75%, 66%);
$Softblue: hsl(240, 73%, 65%);

// dividers

$Lightgrayishblue: hsl(240, 5%, 91%);
