// --------------colors----------------//
$fontcolor--photography:hsl(198, 62%, 26%);
$contact--buttoncolor:hsl(0, 0%, 100%);
$contact--buttonhover:hsl(198, 96%, 80%);
$fontcolor--paragraph:hsl(210, 3%, 54%);
$fontcolor-graphic:hsl(167, 40%, 24%);
$Verydarkdesaturatedblue: hsl(212, 27%, 19%);
$Verydarkgrayishblue: hsl(213, 9%, 39%);
$Darkgrayishblue: hsl(232, 10%, 55%);
$Grayishblue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);
$Softred: hsl(9, 100%, 99%);
$footer: hsl(169, 33%, 62%);





// -----------font family---------------//

$main--heading: 'Fraunces', serif;
