// -------------  Text variables ------//

 $--header-title:2.8rem;
 $--header-para: 1.2rem;
 $--main-heading:1.8rem;
 $--mobile--heading:2.5rem;


// ------------ font family---------//

$var--fontfamily-ub:'Ubuntu', sans-serif;
$var--fontfamily-ov:'Overpass', sans-serif;


// ------------color ---------------//

$linergradient--body:hsl(237, 17%, 21%),hsl(237, 23%, 32%);

