html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 0.75rem;
  font-family: 'Kumbh Sans', sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h2 {
  color: #1f3f5b;
}

ul, li {
  list-style-type: none;
}

.header {
  height: 100vh;
  background-image: url(/images/bg-pattern-intro.svg), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background-image: url(/images/bg-pattern-intro.svg), linear-gradient(#ff8f70, #ff3d54);
  background-repeat: no-repeat,no-repeat;
  background-position: 35% 30% ,0% 0%;
  background-size: 100rem,cover;
  border-bottom-left-radius: 10rem;
}

.header .nav {
  padding: 2rem 0 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10rem;
}

.header .nav--logo {
  font-size: 3rem;
  text-transform: capitalize;
  color: white;
}

.header .nav--menu .btn {
  width: 2rem;
  float: left;
  font-size: 1rem;
  color: white;
  margin-left: 3rem;
  cursor: pointer;
}

.header .nav--menu .btn .dropdown {
  height: auto;
  background: white;
  border-radius: 0.5rem;
}

.header .nav--menu .btn .dropdown li {
  margin-left: -2rem;
  padding: 0.5rem;
  display: none;
  z-index: 100;
}

.header_text_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10% 0 0 3%;
  font-family: "Overpass", sans-serif;
}

.header_text_wrapper h1 {
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
}

.header_text_wrapper p {
  color: white;
  text-align: center;
  margin-bottom: 1.3rem;
  font-size: 1.2rem;
  padding: 0 5%;
}

.header_btn_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.header_btn_wrapper .btn {
  width: 9rem;
  height: 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 5rem;
  margin-left: 3%;
  outline: none;
  cursor: pointer;
}

.header_btn_wrapper .primary_btn {
  color: #ff525d;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_btn_wrapper .secondary_btn {
  color: white;
  background: transparent;
  border: 2px solid white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_btn_wrapper .primary_btn:hover {
  background: #ff7a85;
  color: white;
}

.header_btn_wrapper .secondary_btn:hover {
  background: white;
  color: #ff525d;
}

.header .nav--menu .btn:hover li {
  display: block;
}

.main {
  font-family: "Overpass", sans-serif;
}

.main_sect {
  padding-top: 6rem;
  text-align: center;
}

@media (min-width: 64em) {
  .main_sect {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 15% 85%;
        grid-template-rows: 15% 85%;
    padding: 6rem 0 0 6rem;
    overflow: hidden;
  }
}

.main_sect h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .main_sect h2 {
    margin-bottom: 1rem;
    text-align: center;
  }
}

.main_sect p {
  font-size: 1rem;
}

@media (min-width: 64em) {
  .main_sect p {
    font-size: 13px;
    text-align: left;
  }
}

@media (min-width: 64em) {
  .main_sect_title {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 64em) {
  .main_sect_illustration {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.main_sect_illustration .section__illustartion__c {
  width: 90%;
}

@media (min-width: 64em) {
  .main_sect_illustration .section__illustartion__c {
    display: none;
  }
}

.main_sect_illustration .section_illustration_left {
  display: none;
}

@media (min-width: 64em) {
  .main_sect_illustration .section_illustration_left {
    display: block;
    width: 45rem;
    margin-left: 2rem;
  }
}

.main_sect_article {
  padding: 0 3rem;
  margin-top: 2rem;
}

@media (min-width: 64em) {
  .main_sect_article {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    padding: 0  5rem 0 2rem;
    margin-top: 5rem;
    text-align: justify;
  }
}

.main_sect_article .article {
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main_sect_article .article h2 {
    text-align: left;
  }
}

.main_mobile {
  background: url(/images/bg-pattern-circles.svg), -webkit-gradient(linear, left top, left bottom, from(#2c2d3f), to(#3f4164));
  background: url(/images/bg-pattern-circles.svg), linear-gradient(#2c2d3f, #3f4164);
  text-align: center;
  margin-top: 15rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: -6rem -15rem,0% 0%;
}

@media (min-width: 40em) {
  .main_mobile {
    background-size: 120%;
  }
}

@media (min-width: 64em) {
  .main_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50vh;
    background-position: left,center;
    background-size: 70%,100%;
    margin-top: 4rem;
  }
}

.main_mobile_illustration {
  position: relative;
  top: -10rem;
}

@media (min-width: 64em) {
  .main_mobile_illustration {
    top: -3rem;
    left: 6rem;
  }
}

.main_mobile_illustration .illustartion_phone {
  width: 70%;
  z-index: 0;
}

@media (min-width: 64em) {
  .main_mobile_illustration .illustartion_phone {
    width: 25rem;
  }
}

.main_mobile_article {
  color: white;
  position: relative;
  top: -10rem;
}

@media (min-width: 64em) {
  .main_mobile_article {
    top: 2rem;
    margin-left: 10rem;
    text-align: justify;
    padding: 0 2rem;
  }
}

.main_mobile_article h2 {
  font-size: 2.5rem;
  color: white;
}

@media (min-width: 64em) {
  .main_mobile_article h2 {
    font-size: 2rem;
  }
}

.main_mobile_article p {
  margin-top: 2rem;
  font-size: 1rem;
  padding: 2% 12%;
  font-family: "Overpass", sans-serif;
  line-height: 2rem;
}

@media (min-width: 64em) {
  .main_mobile_article p {
    margin-top: 1rem;
    padding: 0;
    font-size: 13px;
  }
}

.main_section3 {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  text-align: center;
}

@media (min-width: 64em) {
  .main_section3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 7rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
}

.main_section3_illustartion .illustration--m {
  width: 100%;
}

@media (min-width: 64em) {
  .main_section3_illustartion .illustration--m {
    display: none;
  }
}

.main_section3_illustartion .illustartion--d {
  display: none;
}

@media (min-width: 64em) {
  .main_section3_illustartion .illustartion--d {
    display: block;
    width: 40rem;
    margin-left: -10rem;
  }
}

@media (min-width: 64em) {
  .main_section3_article {
    margin-left: 10%;
  }
}

.main_section3_article h2 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Overpass", sans-serif;
  margin-bottom: 1rem;
}

.main_section3_article p {
  font-size: 1rem;
  font: 200;
  font-family: "Overpass", sans-serif;
  padding: 0 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 64em) {
  .main_section3_article p {
    padding: 0 20% 0 0;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #25252d;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-top-right-radius: 5rem;
}

@media (min-width: 40em) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 64em) {
  .footer {
    margin-top: 5%;
  }
}

.footer_logo {
  font-size: 1.8rem;
  margin: 1.5rem 0 2rem 0;
}

.footer_company h2, .footer_product h2, .footer_connect h2 {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 2.5rem 0 1rem 0;
}

.footer_company p, .footer_product p, .footer_connect p {
  padding-top: 1rem;
}

.footer_product > h2 {
  padding-top: 0;
}

@media (min-width: 40em) {
  .footer_product > h2 {
    padding-top: 2.5rem;
  }
}

.footer_connect > p:last-child {
  padding-bottom: 4rem;
}
/*# sourceMappingURL=styles.css.map */