

// ### Theme 1

:root{

$mainbackground: hsl(222, 26%, 31%);
$keypadbackground : hsl(223, 31%, 20%); 
$screenbackground: hsl(224, 36%, 15%);
$Verydarkgrayishblue: hsl(221, 14%, 31%);
$delresetkeybackground:hsl(225, 21%, 49%);
$delresetkeyshadow: hsl(224, 28%, 35%);
$togglebuttlon: hsl(6, 63%, 50%);
$redkeyshadow: hsl(6, 70%, 34%);
$keybackground: hsl(30, 25%, 89%);
$keyshadow: hsl(28, 16%, 65%);
$colorofkey: hsl(0, 0, 100%);   

}

// .theme--two{
// $mainbackground:  hsl(0, 0%, 90%);
// $keypadbackground : hsl(0, 5%, 81%); 
// $screenbackground:hsl(0, 0%, 93%) ;
// $Verydarkgrayishblue: hsl(0, 0%, 93%);
// $delresetkeybackground:hsl(185, 42%, 37%);
// $delresetkeyshadow: hsl(185, 58%, 25%);
// $togglebuttlon:hsl(25, 98%, 40%) ;
// $redkeyshadow: hsl(25, 99%, 27%);
// $keybackground:hsl(0, 0%, 93%) ;
// $keyshadow:  hsl(35, 11%, 61%);
// $colorofkey: hsl(0, 0%, 93%);   


// }
